<aside class="hidden-xs col-md-3 col-lg-3 maincontents3">
  <article class="">
    <h1>New Feed</h1>
    <%= image_tag current_user.proimage %>
    <%= form_with(model: current_user, local: true) do |form| %>
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(current_user.errors.count, "個エラーがあります,") %>保存されていません。</h2>

          <ul>
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="field">
    <%= form.label :proimage %>
    <%= form.file_field :proimage %>
    <%= form.hidden_field :id %>
    </div>

    <div class="actions">
      <%= form.submit '保存する' %>
    </div>
    <% end %>
  </article>
</aside>
